<div class="container" id= "home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Don’t write, because other people said so.Don’t write, because you heard it’s a useful skill.Don’t write, just because you want to say something.</p>
    <hr class="my-4">
    <p>It’s about realizing the value you get from writing. So when you finally understand the WHY behind your writing, writing won’t feel like an obstacle.</p>
    <%= link_to "sign up!", signup_path, class: "btn btn-success btn-lg" %>
 
 </div>
</div>
   

