@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: black !important;


}
.nav-link
{
    color:white !important;

}

#logo
{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container
{
    margin-top: 25px;
}
.jumbotron
{
    background-image: asset-url('joanna-kosinska-B6yDtYs2IgY-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: 8%;
  padding-top: 1em;
}


